<table class="w-full">
  <tr>
    <td>
      <table class="w-full border-0">
        <tbody>
          <tr>
            <td class="w-[3%]"></td>
            <td class="w-[94%]">
              <table class="w-full border-0">
                <tbody>
                  <tr>
                    <td class="w-[20%]">
                      
                      <!-- <img src="../../images/logo1.png" alt="logo" class="block w-full h-auto"> -->
                      <x-image
                      class="block w-full h-auto"
                      imgUrl="logo1.png"
                      alt="logo"
                      />
                    </td>
                    <td class="w-[4%]"></td>
                    <td class="w-[56%] text-black text-sm font-normal leading-[15px]">
                      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
                    </td>
                    <td class="w-[20%]"></td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td class="w-[3%]"></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
